<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Badaboom</display-name>
  <servlet>
    <servlet-name>SrvValidarEntrada</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.SrvValidarEntrada</servlet-class>
    <init-param>
      <param-name>fichero_propiedades</param-name>
      <param-value>C:\\Users\\zalla\\git\\badaboom\\WebContent\\WEB-INF\\badaboom.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Configuracion</display-name>
    <servlet-name>Configuracion</servlet-name>
    <servlet-class>com.ipartek.badaboom.config.Configuracion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Configuracion</servlet-name>
    <url-pattern>/Configuracion</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MainFilter</display-name>
    <filter-name>MainFilter</filter-name>
    <filter-class>com.ipartek.badaboom.filters.MainFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MainFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Catalogo</display-name>
    <servlet-name>Catalogo</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Catalogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalogo</servlet-name>
    <url-pattern>/Catalogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Detalle</display-name>
    <servlet-name>Detalle</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Detalle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detalle</servlet-name>
    <url-pattern>/Detalle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertComment</display-name>
    <servlet-name>InsertComment</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.InsertComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertComment</servlet-name>
    <url-pattern>/InsertComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAccount</display-name>
    <servlet-name>NewAccount</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.NewAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccount</servlet-name>
    <url-pattern>/NewAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUser</display-name>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileUpdated</display-name>
    <servlet-name>ProfileUpdated</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.ProfileUpdated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileUpdated</servlet-name>
    <url-pattern>/ProfileUpdated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForm</display-name>
    <servlet-name>LoginForm</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categoria</display-name>
    <servlet-name>Categoria</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Categorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categoria</servlet-name>
    <url-pattern>/Categoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autor</display-name>
    <servlet-name>Autor</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Autor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autor</servlet-name>
    <url-pattern>/Autor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Carrito</display-name>
    <servlet-name>Carrito</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Carrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carrito</servlet-name>
    <url-pattern>/Carrito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comprar</display-name>
    <servlet-name>Comprar</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Comprar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comprar</servlet-name>
    <url-pattern>/Comprar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraProcesada</display-name>
    <servlet-name>CompraProcesada</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.CompraProcesada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraProcesada</servlet-name>
    <url-pattern>/CompraProcesada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pedidos</display-name>
    <servlet-name>Pedidos</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Pedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pedidos</servlet-name>
    <url-pattern>/Pedidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetallePedido</display-name>
    <servlet-name>DetallePedido</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.DetallePedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetallePedido</servlet-name>
    <url-pattern>/DetallePedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Busqueda</display-name>
    <servlet-name>Busqueda</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Busqueda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Busqueda</servlet-name>
    <url-pattern>/Busqueda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoverPassword</display-name>
    <servlet-name>RecoverPassword</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.RecoverPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverPassword</servlet-name>
    <url-pattern>/RecoverPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reset</display-name>
    <servlet-name>Reset</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Reset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reset</servlet-name>
    <url-pattern>/Reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code</display-name>
    <servlet-name>Code</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.Code</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code</servlet-name>
    <url-pattern>/Code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPassword</display-name>
    <servlet-name>SetPassword</servlet-name>
    <servlet-class>com.ipartek.badaboom.controllers.SetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPassword</servlet-name>
    <url-pattern>/SetPassword</url-pattern>
  </servlet-mapping>
</web-app>